##
## Velocity Template for SAML 2 HTTP-POST binding
##
## See also: http://velocity.apache.org/
##
## The extension VM stands for Velocity Macro.
##
## Velocity context may contain the following properties
## action - String - the action URL for the form
## RelayState - String - the relay state for the message
## SAMLRequest - String - the Base64 encoded SAML Request
## SAMLResponse - String - the Base64 encoded SAML Response
## Language - String(ISO-639) - the language to use in OLAS.
## Color - String(#XXXXXX) - The color to base the OLAS theme on.
## Minimal - String(true/*) - If true, use a minimal layout theme in OLAS.

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

    <body onload="document.forms[0].submit()">
        <noscript>
            <p>
                <strong>Note:</strong> Since your browser does not support JavaScript,
                you must press the Continue button once to proceed.
            </p>
        </noscript>

        custom template
        
        #if($BreakFrame)
            <form action="${action}" method="post" target="_top">
        #else
            <form action="${action}" method="post" target="_self">
        #end

            #if($RelayState)
                <input type="hidden" name="RelayState" value="${RelayState}"/>
            #end
            
            #if($SAMLRequest)
                <input type="hidden" name="SAMLRequest" value="${SAMLRequest}"/>
            #end
            
            #if($SAMLResponse)
                <input type="hidden" name="SAMLResponse" value="${SAMLResponse}"/>
            #end
            #if($Language)
                <input type="hidden" name="Language" value="${Language}"/>
            #end

            #if($Color)
               <input type="hidden" name="Color" value="${Color}"/>
            #end

            #if($Minimal)
               <input type="hidden" name="Minimal" value="${Minimal}"/>
            #end

            <noscript>
                <input type="submit" value="Continue"/>
            </noscript>
        </form>
        
    </body>
</html>
