<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <display-name>SDK Mobile Example Webapp</display-name>

    <!-- Application Context Parameters -->
    <context-param>
        <param-name>linkID.app.name</param-name>
        <param-value>example-mobile</param-value>
    </context-param>
    <context-param>
        <param-name>linkID.app.keyProvider</param-name>
        <param-value>class://example-mobile:secret:secret@net.link.safeonline.sdk.example.mobile.ExampleMobileKeyProviderService</param-value>
    </context-param>
    <context-param>
        <param-name>web.landingPath</param-name>
        <param-value>/login</param-value>
    </context-param>

    <!-- linkID SDK Login servlet's -->
    <servlet>
        <servlet-name>InitiateLoginServlet</servlet-name>
        <servlet-class>net.link.safeonline.sdk.example.mobile.ExampleMobileLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>net.link.safeonline.sdk.example.mobile.ExampleMobileLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthLoginServlet</servlet-name>
        <servlet-class>net.link.safeonline.sdk.auth.servlet.LinkIDLoginServlet</servlet-class>
        <init-param>
            <param-name>ErrorPage</param-name>
            <param-value>error</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LinkIDNotificationServlet</servlet-name>
        <servlet-class>net.link.safeonline.sdk.example.mobile.LinkIDNotificationServlet</servlet-class>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>AuthLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitiateLoginServlet</servlet-name>
        <url-pattern>/startlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkIDNotificationServlet</servlet-name>
        <url-pattern>/linkid_notifications</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ConfigFilter</filter-name>
        <filter-class>net.link.safeonline.sdk.configuration.LinkIDSDKConfigFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ConfigFilter</filter-name>
        <url-pattern>/*</url-pattern>

        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

</web-app>

