h1 {
	font-size: 24px;
	color: #90e027;
}

h2 {
	font-size: 12px;
	color: #90e027;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	background-color: #fffff3;
}

a {
	text-decoration: none;
	color: #fffff3;
}

input {
	border: 1px solid;
}

table {
	font-size: 12px;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #00f;
}

/* classes */
.error {
	color: #FF0000;
	font-weight: bold;
}

.error input {
	color: #FF0000;
	border: 1px solid red;
}

/* ids */
#document {
	height: 100%;
	width: 820px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

#header {
	height: 60px;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
	padding-left: 50px;
	background: url(../img/border-top.png) no-repeat 0 30px;
	margin-bottom: 5px;
	position: relative;
	top: 14px;
}

#footer {
	clear: both;
	float: left;
	width: 820px;
	text-align: center;
	display: block;
	color: #ccc;
	font-size: x-small;
	background: url(../img/border-bottom.png) no-repeat;
	padding: 35px 5px 5px;
}

#container {
	width: 815px;
	background: url(../img/border-straight.png) repeat-y;
	height: 300px;
	padding: 15px 5px 15px 30px;
}

#sidebar {
	float: right;
	margin-top: 11px;
	margin-bottom: 12px;
	text-align: center;
	background-color: #90e027;
	border-style: dotted;
	border-width: 1px;
	padding: 10px;
	margin-right: 50px;
	width: 15%;
}

#content {
	text-align: justify;
	overflow: auto;
	height: 100%;
	visibility: visible;
	margin-right: 15px;
}

#sidebar a {
	color: #fffff3;
}

.nav {
	height: 25px;
	width: 820px;
	padding-left: 10px;
	background: url(../img/border-straight.png) repeat-y 0 0;
}

.nav ul {
	margin: 0px;
	padding: 0px;
	position: absolute;
	margin-top: 1px;
	list-style: none;
	text-align: center;
}

.nav li {
	float: left;
	margin: 0px;
	margin-right: 2px;
	padding: 0 0 0 4px;
}

.nav li a {
	display: block;
	padding: 6px 20px 6px 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.nav li a:hover {
	color: #90e027;
	text-decoration: underline;
}

.nav .current a {
	color: #90e027;
	text-decoration: underline;
}

.subcolumn1-2 {
	float: left;
	width: 48%;
	text-align: left;
}

.subcolumn1-2 a {
	color:  #90e027;
}

.subcolumn1-2 a:hover {
	text-decoration: underline;
}

.subcolumn2-2 {
	float: right;
	width: 48%;
}

.subcolumn2-2 a {
	color:  #90e027;
}

.subcolumn2-2 a:hover {
	text-decoration: underline;
}

.listingTable {
	background-color:  #FFFFFF;
	color:  #000000;
	font-size: 12px;
	border: 1px dotted #90e027;
}

.ListingTable a {
	color: #000000;	
}

.ListingTable a:hover {
	color: #90e027;	
}

.ListingTable_Row1:hover {
	background-color: #eeede3;
	border: 1px solid #90e027;
}

.ListingTable_Row2:hover {
	background-color: #eeede3;
	border: 1px solid #90e027;
}

.myFaces_panelTabbedPane {
	width: 100%;
}

.infobox {
	width: 500px;
	border: 1px dotted #90e027;
}

.configTable {
	width:  100%;
	border: 1px dotted #90e027;
}

.configColumn {
	width: 50%;
}