* :focus {
	outline-color: invert;
	outline-style: none;
	outline-width: 0pt;
}

html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: url(../images/fade.gif) repeat-x top center;
	font: 14px/ 21px "Trebuchet MS", Verdana, Arial;
}

img.text {
	float: left;
	display: inline;
	margin: 0 25px 25px 0;
	clear: left;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	clear: left;
}

h1 {
	font: 28px/ 42px "Trebuchet MS", Verdana, Arial;
	margin-bottom: 21px;
}

h2 {
    margin: 14px 0;
	font: 21px/ 28px "Trebuchet MS", Verdana, Arial;
}

h3 {
	clear: left;
}

p {
	margin: 0;
	padding: 0;
	margin-top: 14px;
	padding-bottom: 7px;
}

br {
	clear: left;
}

a {
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dotted black;
}

#header {
	margin: 0 auto;
	padding: 0;
	height: 150px;
	background: url(../images/header.gif) no-repeat left top;
	width: 950px;
	display: block;
	border: none;
}

#header_top {
	margin: 0;
	padding: 25px 25px 0px 25px;
	width: 900px;
	display: block;
	height: 115px;
	text-align: right;
}
#header_top[id] {
    height: 90px;
}
#header_top form img {
    border: 1px solid transparent;
    margin-right: 5px;
}
#header_top span:hover img {
    border: 1px solid white;
}

#header ul.menu {
	margin: 0;
	padding: 0;
	padding-right: 25px;
	float: right;
	display: block;
	width: 750px;
	height: 35px;
	list-style: none;
}

#header ul.menu li {
	margin: 0;
	padding: 0;
	float: left;
	display: inline;
	width: 150px;
	height: 35px;
	background: url(../images/tab_unselected.gif) top right;
}

#header ul.menu li:hover {
	background: url(../images/tab_hover.gif);
}

#header ul.menu li.selected {
	background: url(../images/tab_selected.gif);
}

#header ul.menu li a {
	margin: 0;
	padding: 7px;
	display: block;
	width: 136px;
	height: 21px;
	text-decoration: none;
	font-weight: bold;
}

#header ul.menu li.selected a {
	padding: 10px 7px 4px 7px;
}

#header ul.menu li a:hover {
	text-decoration: none;
	border: none;
	font-weight: bold;
}

ul.submenu {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-left: 0;
	margin-bottom: 25px;
	margin-right: 0;
	margin-top: 25px;
	background-repeat: repeat-x;
	background-image: url(../images/sub_back.gif);
	float: left;
	display: block;
	width: 575px;
	height: 25px;
	list-style: none;
}

ul.submenu li {
	margin: 0;
	padding: 0;
	float: left;
	display: inline;
	width: 100px;
	height: 25px;
	background: url(../images/subtab.gif) top right;
}

ul.submenu li img {
	display: inline;
	float: left;
	padding: 2px 5px 0px 5px;
	margin: 0;
	border: 0;
}

ul.submenu li:hover {
	background: url(../images/subtab_hover.gif);
}

ul.submenu li.selected {
	background: url(../images/subtab_active.gif);
}

ul.submenu li a {
	margin: 0;
	padding: 2px;
	display: block;
	width: 96px;
	height: 21px;
	text-decoration: none;
	text-align: left;
	font-weight: bold;
}

ul.submenu li a:hover {
	text-decoration: none;
	border: none;
	font-weight: bold;
}

ul.timeline {
	padding: 0;
    margin: 0;
	background: url(../images/timeline.gif) top left repeat;
	display: block;
	height: 70px;
	list-style: none;
	text-align: center;
}
ul.timeline[class] {
    height: 35px;
}

ul.timeline li {
	margin: 0 auto;
	padding: 0;
	padding-top: 35px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
	float: left;
	text-align: center;
	width: 100px;
	height: 70px;
	background: url(../images/timeline_other.gif) top center no-repeat;
	font: 10px/ 15px "Trebuchet MS", Verdana, Arial;
}
ul.timeline>li {
    height: 35px;
}

ul.timeline li.active {
	background: url(../images/timeline_current.gif) top center no-repeat;
}

ul.timeline li.start {
	width: 50px;
    height: 100%;
	background: url(../images/timeline_fade_in.gif) top right repeat-y;
}

ul.timeline li.end {
    width: 50px;
    height: 100%;
	float: right;
	background: url(../images/timeline_fade_out.gif) top left repeat-y;
}

#footer {
	margin: 0 auto;
	padding: 0;
	padding-top: 50px;
	height: 50px;
	background: url(../images/footer.gif) left top;
	width: 100%;
	display: block;
	clear: both;
}

#main {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	display: block;
	text-align: center;
}

/* for understanding browsers */
#main_content {
	margin: 0 auto;
	padding: 25px;
	width: 900px;
	min-height: 350px;
	height: auto;
	display: block;
	text-align: left;
}

/* for Internet Explorer */
* html #main_content {
	height: 350px;
}

#box {
	margin: 0;
	padding: 0;
	float: right;
	width: 300px;
	text-align: left;
	display: block;
}

#box_content {
    margin: 0 10%;
    width: 100%;
	padding: 0;
	margin-top: -11px;
}

#box_content[id] {
    width: 80%;
}

div.zesde {
	margin: 0 auto;
	padding: 12px;
	padding-right: 13px;
	display: inline;
	float: left;
	width: 125px;
}

div.zesde:hover {
	background: url(../images/fade.gif) top center repeat-x;
}

hr.float_fix {
	display: block;
	clear: both;
	margin: 0;
	visibility: hidden;
}

ul.sidemenu {
	list-style: none;
	padding: 0;
	margin: 14px 0 14px 0;
	border-top: 1px dotted black;
	display: block;
	clear: both;
	float: left;
	width: 100%;
}

ul.sidemenu li {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 41px;
	border-bottom: 1px dotted black;
}

ul.sidemenu li a {
	background: url(../images/icons/bullet_go.gif) no-repeat;
	background-position: 10px 12px;
	text-decoration: none;
	height: 21px;
	display: block;
	padding: 10px;
	padding-left: 30px;
}

ul.sidemenu li a:hover {
	border: none;
}

ul.sidemenu li.active a {
	border: none;
}

span.error {
	clear: left;
	display: block;
	background: pink;
	background-image: url(../images/icons/exclamation.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 3px;
	padding-left: 25px;
	width: 273px;
	border: 1px solid red;
	margin: 0;
	margin-left: 150px;
}

span.error input {
	clear: none;
}

span.error_message {
	clear: left;
	display: block;
	background: pink;
	background-image: url(../images/icons/exclamation.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 3px;
	padding-left: 25px;
	width: 80%;
	border: 1px solid red;
	margin: 0;
	margin-left: 150px;
}

.error_field {
	color: red !important;
}
/* FORMS AND ELEMENTS*/
label {
	padding: 0 25px 0 0;
	background: url(../images/icons/16-arrow-down.gif) no-repeat;
	background-position: 5px 6px;
	width: 125px;
	text-align: right;
	vertical-align: top;
    /* Prevent labels with no content from collapsing. */
    border-bottom: 1px solid transparent;
}
label[for] {
    display: block;
    float: left;
    clear: left;
}

input,select,textarea {
	margin: 0;
	padding: 0;
	margin-right: 5px;
	font: 14px "Thesis Sans", "Myriad Pro", "Lucida sans", Verdana,
		sans-serif;
}

input.label,select.label,textarea.label,input.radio,.af_inputFile,img.label
	{
	margin: 4px 0 15px 0;
    vertical-align: bottom;
	width: 300px;
	border: 0;
	font: 14px "Thesis Sans", "Myriad Pro", "Lucida sans", Verdana,
		sans-serif;
}

input.label,textarea.label {
	border-bottom: 1px dotted black;
}
input.label[name],select.label[name],textarea.label[name],input.radio[name],.af_inputFile[class],img.label[src] {
    float: left;
}

input.radio {
	width: auto;
}

input.label:hover,.so-input-text:hover, input.label:focus {
	border-bottom-style: solid;
}

img.label {
	width: auto;
}

select.label, select.label:hover {
	border: none;
}

input.submit {
	margin: 15px 25px 7px 0;
	width: 125px;
	height: 25px;
	background: url(../images/button.jpg) no-repeat;
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	display: inline;
	float: left;
}

textarea {
	border: 0;
	border-left: 1px dotted black;
}

table, .fullwidth {
    width: 575px;
}
table {
	border: none;
    border-collapse: collapse;
	margin: 0;
	clear: left;
	float: none;
	display: block;
	padding: 0;
}
table table {
    auto;
}

table colgroup {
    width: inherit;
}

.noborders, .noborders * {
    border: none !important;
}
.right {
    text-align: right;
}
.padded {
    padding: 7px !important;
}
.inner {
    width: 500px;
    margin: auto;
}
.centered {
    display: block;
    float: none;

    margin-left: auto;
    margin-right: auto;
}
table tbody, table tfoot {
    border: 0 solid black !important;
    border-width: 0 2px 2px 0 !important;
}
.noborder, .noborder tbody {
    border:none !important;
}

table.listingTable td,
table.scroller td {
    /* Tables with thead/tbody don't like to get wide */
    /* Forced column size will act as a maximum size but distribute available width in a balanced manner. */
    /* width: 575px !important; */
}
table.rich-table td {
    width: auto;
}

table.listingTable tbody, table.rich-table tbody {
	padding: 5px;
}

table.listingTable tbody tr, table.rich-table tbody tr {
	margin: 0;
	padding: 0;
}

table.listingTable tfoot tr, table.rich-table tfoot tr {
	padding: 0;
	float: none;
	margin: 0;
}

table.listingTable tbody tr td, table.rich-table tbody tr td {
	margin: 0;
	padding: 5px;
	border: none;
}

table.rich-table thead tr th, table.rich-table thead tr td, table.styled thead tr td,
table.listingTable thead tr th, table.listingTable thead tr td {
	margin: 0;
	padding: 5px;
	border: none;
	text-align: left;
	font-weight: bold;
}

div.dr-dscr table         , div.dr-dscr table tbody tr td         , div.dr-dscr table tbody tr:hover
	{
	border: none;
	background: none;
	margin: 0;
	padding: 5px;
	text-align: center;
}

.listingTable, .listingTable_Row1, .listingTable_Row2,
.rich-table, .rich-table-caption,
.rich-table-header, .rich-table-header-continue, .rich-table-subheader,
.rich-table-headercell, .rich-table-subheadercell, .rich-table-cell,
.rich-table-footer, .rich-table-footer-continue, .rich-table-subfooter,
.rich-table-footercell, .rich-table-subfootercell,
.rich-table-row, .rich-table-firstrow {
    border: none;
	font-family: inherit;
	font-size: inherit;
	background-color: inherit;
	color: inherit;
}

table tr.rich-table-row, table tr.rich-table-firstrow, table tr.rich-table-footer,
table.listingTable tbody tr {
    border: 1px solid black !important;
    border-style: solid solid none;
}

table.listingTable, table.rich-table {
    border-bottom: 1px solid black;
}

/* Make links in tables easier to click. */
table.listingTable td a, table.listingTable th a, table.rich-table td a {
    display:block;
    padding-bottom: 1px;
    width: inherit;
    height: inherit;
}
a.noblock {
    display: inline;
    width: auto;
    height: auto;
}
table.listingTable td a:hover, table.listingTable th a:hover, table.rich-table td a:hover {
    border:none;
    text-decoration: underline;
}

.rich-datascr-button   
	    , .rich-datascr-ctrls-separator        , .rich-datascr-act        ,
	.rich-datascr-inact	       , .rich-datascr-button-dsbld {
	font-family: inherit;
	font-size: inherit;
	background-color: inherit;
	color: inherit;
	border-style: none;
}

.rich-datascr {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.rich-dtascroller-table {
	text-align: center;
	width: 100%;
}

.rich-dtascroller-table td {
    width: 20% !important;
}

.rich-tabpanel-content, .rich-tabpanel, .rich-panel-header, .rich-panel-body {
    width: auto;
	overflow: auto;
	font-family: inherit;
	font-size: inherit;
}
.rich-panel {
    width: 575px;
}

.rich-tabpanel-content {
	height: 200px;
}

.usage_agreement,.white_space {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word;
	height: inherit;
    font-family: fixed;
}

.usage_agreement {
	width: 550px;
	padding: 10px;
	height: 200px;
	overflow: auto;
	border: 1px solid black;
}

.so-nameoutput {
	
}

.so-nameoutput-compounded {
	font-weight: bold;
}

.so-nameoutput-member {
	font-style: italic;
	margin-left: 15px;
}

.so-input-text {
	
}

table.name_value {
	height: inherit;
}

table.name_value th {
	text-align: right;
	padding-right: 5px;
}
