/** 
 *
 * OLAS CSS Style:
 *      Element Positioning
 *      Background Images, Borders
 *      Greyscale Coloring Only
 *
 * @author mbillemo
 *
 * Copyright 2006-2008 - Lin.k NV
 *
 */



/* ==================================================================
 * Section: Basic HTML
 */

html {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: url(../images/fade.gif) repeat-x top center;
	font: 14px/ 21px "Trebuchet MS", Verdana, Arial;
}
p,h1,h2,h3,h4,h5,h6,br {
	margin: 0;
	padding: 0;
	clear: left;
}
h1 {
	font: 28px/ 42px "Trebuchet MS", Verdana, Arial;
	margin-bottom: 21px;
}
h2 {
    margin: 14px 0;
	font: 21px/ 28px "Trebuchet MS", Verdana, Arial;
}
p {
	margin-top: 14px;
	padding-bottom: 7px;
}
a {
	text-decoration: none;
}
a:hover {
	border-bottom: 1px dotted black;
}



/* ==================================================================
 * Section: Base Elements
 */

/*********************************************** HEADER CONTAINER **/
#_header {
	margin: 0 auto;
	padding: 0;
	height: 150px;
	background: url(../images/header.gif) no-repeat left top;
	width: 1000px;
	display: block;
	border: none;
}

/********************************************************* HEADER **/
#header {
	margin: 0;
	padding: 25px 0 0;
	width: 900px;
	display: block;
	height: 115px;
	text-align: right;
}
#header[id] {
    height: 90px;
}
#header form img {
    border: 1px solid transparent;
    margin-right: 5px;
}
#header span:hover img {
    border: 1px solid white;
}

/**************************************************** HEADER MENU **/
#header ul.menu {
	margin: 0;
	padding: 0;
	padding-right: 25px;
	float: right;
	display: block;
	width: 750px;
	height: 35px;
	list-style: none;
}

#header ul.menu li {
	margin: 0;
	padding: 0;
	float: left;
	display: inline;
	width: 150px;
	height: 35px;
	background: url(../images/tab_unselected.gif) top right;
}

#header ul.menu li:hover {
	background: url(../images/tab_hover.gif);
}

#header ul.menu li.selected {
	background: url(../images/tab_selected.gif);
}

#header ul.menu li a {
	margin: 0;
	padding: 7px;
	display: block;
	width: 136px;
	height: 21px;
	text-decoration: none;
	font-weight: bold;
}

#header ul.menu li.selected a {
	padding: 10px 7px 4px 7px;
}

#header ul.menu li a:hover {
	text-decoration: none;
	border: none;
	font-weight: bold;
}

/********************************************** CONTENT CONTAINER **/
#_content {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	display: block;
	text-align: center;
}

/******************************************************** CONTENT **/
#content {
	margin: 0 auto;
	padding: 25px 0;
	width: 900px;
	min-height: 350px;
	height: auto;
	display: block;
	text-align: left;
}
* html #content {
	height: 350px;
}

/********************************************************* FOOTER **/
#footer {
	margin: 0 auto;
	padding: 0;
	padding-top: 50px;
	height: 50px;
	background: url(../images/footer.gif) left top;
	width: 100%;
	display: block;
	clear: both;
}

/********************************************* SIDE BOX CONTAINER **/
#_sidebox {
	margin: 0;
	padding: 0;
	float: right;
	width: 300px;
	text-align: left;
	display: block;
}

/******************************************************* SIDE BOX **/
#sidebox {
    margin: 0 10%;
    width: 100%;
	padding: 0;
	margin-top: -11px;
}
#sidebox[id] {
    width: 80%;
}

/****************************************************** SIDE MENU **/
#sidebox ul {
	list-style: none;
	padding: 0;
	margin: 14px 0 14px 0;
	border-top: 1px dotted black;
	display: block;
	clear: both;
	float: left;
	width: 100%;
}
#sidebox ul li {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 41px;
	border-bottom: 1px dotted black;
}
#sidebox ul li a {
	background: url(../images/icons/bullet_go.gif) no-repeat;
	background-position: 10px 12px;
	text-decoration: none;
	height: 21px;
	display: block;
	padding: 10px;
	padding-left: 30px;
}
#sidebox ul li a:hover {
	border: none;
}
#sidebox ul li.active a {
	border: none;
}

/******************************************************* TIMELINE **/
ul.timeline {
	padding: 0;
    margin: 0;
	background: url(../images/timeline.gif) top left repeat;
	display: block;
	height: 70px;
	list-style: none;
	text-align: center;
}
ul.timeline[class] {
    height: 35px;
}
ul.timeline li {
	margin: 0 auto;
	padding: 0;
	padding-top: 35px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline;
	float: left;
	text-align: center;
	width: 100px;
	height: 70px;
	background: url(../images/timeline_other.gif) top center no-repeat;
	font: 10px/ 15px "Trebuchet MS", Verdana, Arial;
}
ul.timeline>li {
    height: 35px;
}

ul.timeline li.active {
	background: url(../images/timeline_current.gif) top center no-repeat;
}
ul.timeline li.start {
	width: 50px;
    height: 100%;
	background: url(../images/timeline_fade_in.gif) top right repeat-y;
}
ul.timeline li.end {
    width: 50px;
    height: 100%;
	float: right;
	background: url(../images/timeline_fade_out.gif) top left repeat-y;
}



/* ==================================================================
 * Section: Classes
 */

/************************************************* ERROR MESSAGES **/
span.error {
	clear: left;
	display: block;
	background: pink;
	background-image: url(../images/icons/exclamation.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 3px;
	padding-left: 25px;
	width: 273px;
	border: 1px solid red;
	margin: 0;
	margin-left: 150px;
}
span.error input {
	clear: none;
}
span.error_message {
	clear: left;
	display: block;
	background: pink;
	background-image: url(../images/icons/exclamation.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding: 3px;
	padding-left: 25px;
	width: 80%;
	border: 1px solid red;
	margin: 0;
	margin-left: 150px;
}
.error_field {
	color: red !important;
}

/************************************************ UTILITY CLASSES **/
hr.float_fix {
	display: block;
	clear: both;
	margin: 0;
	visibility: hidden;
}
.right {
    text-align: right;
}
.padded {
    padding: 7px !important;
}
.inner {
    width: 500px;
    margin: auto;
}
.center {
    float: none;
    text-align: center;
}
.noborders, .noborders * {
    border: none !important;
}

/************************************************* USAGE AGREEMENT **/
.usage_agreement {
	width: 550px;
	padding: 10px;
	height: 200px;
	overflow: auto;
	border: 1px solid black;
}

/********************************************* SAFE ONLINE TAGLIB **/
.so-input-text {
}
.so-nameoutput {
}
.so-nameoutput-compounded {
	font-weight: bold;
}
.so-nameoutput-member {
	font-style: italic;
	margin-left: 15px;
}

/* ==================================================================
 * Section: Forms
 */

label {
	padding: 0 25px 0 0;
	background: url(../images/icons/16-arrow-down.gif) no-repeat;
	background-position: 5px 6px;
	width: 150px;
	text-align: right;
	vertical-align: top;
    /* Prevent labels with no content from collapsing. */
    border-bottom: 1px solid transparent;
    float: left;
}
label[for] {
	width: 125px;  /* padding counts toward width in non-IE browsers */
    display: block;
    clear: left;
}
input,select,textarea {
	margin: 0;
	padding: 0;
	margin-right: 5px;
	font: 14px "Thesis Sans", "Myriad Pro", "Lucida sans", Verdana,
		sans-serif;
}
input.label,select.label,textarea.label,input.radio,.af_inputFile,img.label
	{
	margin: 4px 0 15px 0;
    vertical-align: bottom;
	width: 300px;
	border: 0;
	font: 14px "Thesis Sans", "Myriad Pro", "Lucida sans", Verdana,
		sans-serif;
}
input.label,textarea.label {
	border-bottom: 1px dotted black;
}
input.label[name],input.submit[name],select.label[name],textarea.label[name],input.radio[name],.af_inputFile[class],img.label[src] {
    float: left;
}
input.radio {
	width: auto;
}
input.label:hover,.so-input-text:hover, input.label:focus {
	border-bottom-style: solid;
}
img.label {
	width: auto;
}
select.label, select.label:hover {
	border: none;
}
input.submit {
	margin: 15px 25px 7px 0;
	width: 125px;
	height: 25px;
	background: url(../images/button.jpg) no-repeat;
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	display: inline;
}
textarea {
	border: 0;
	border-left: 1px dotted black;
}



/* ==================================================================
 * Section: Tables
 */

table, .fullwidth {
    width: 575px;
}
table {
	border: none;
    border-collapse: collapse;
	margin: 0;
	clear: left;
	float: none;
	display: block;
	padding: 0;
}
table table {
    margin: auto;
}

table colgroup {
    width: inherit;
}
table tbody, table tfoot {
    border: 0 solid black !important;
    border-width: 0 2px 2px 0 !important;
}
table.listingTable td,
table.scroller td {
    /* Tables with thead/tbody don't like to get wide */
    /* Forced column size will act as a maximum size but distribute available width in a balanced manner. */
    /* width: 575px !important; */
}
table.rich-table td {
    width: auto;
}
table.listingTable, table.rich-table {
    border-bottom: 1px solid black;
}
table.rich-table tr, table.listingTable tbody tr {
    border: 1px solid black !important;
    border-style: solid solid none !important;
}
table.rich-table thead tr th, table.rich-table thead tr td, table.styled thead tr td,
table.listingTable thead tr th, table.listingTable thead tr td {
	margin: 0;
	padding: 5px;
	border: none;
	text-align: left;
	font-weight: bold;
}
table.listingTable tbody, table.rich-table tbody {
	padding: 5px;
}
table.listingTable tbody tr, table.rich-table tbody tr {
	margin: 0;
	padding: 0;
}
table.listingTable tbody tr td, table.rich-table tbody tr td {
	margin: 0;
	padding: 5px;
	border: none;
}
table.listingTable tfoot tr, table.rich-table tfoot tr {
	padding: 0;
	float: none;
	margin: 0;
}
div.dr-dscr table, div.dr-dscr table tbody tr td, div.dr-dscr table tbody tr:hover {
	border: none;
	background: none;
	margin: 0;
	padding: 5px;
	text-align: center;
}
.listingTable, .listingTable_Row1, .listingTable_Row2,
.rich-table, .rich-table-caption,
.rich-table-header, .rich-table-header-continue, .rich-table-subheader,
.rich-table-headercell, .rich-table-subheadercell, .rich-table-cell,
.rich-table-footer, .rich-table-footer-continue, .rich-table-subfooter,
.rich-table-footercell, .rich-table-subfootercell,
.rich-table-row, .rich-table-firstrow {
    border: none;
	font-family: inherit;
	font-size: inherit;
	background-color: inherit;
	color: inherit;
}
/* Make links in tables easier to click. */
table.listingTable td a, table.listingTable th a, table.rich-table td a {
    display:block;
    padding-bottom: 1px;
    width: inherit;
    height: inherit;
}
a.noblock {
    display: inline;
    width: auto;
    height: auto;
}
table.listingTable td a:hover, table.listingTable th a:hover, table.rich-table td a:hover {
    border:none;
    text-decoration: underline;
}
.rich-datascr-button   
	    , .rich-datascr-ctrls-separator        , .rich-datascr-act        ,
	.rich-datascr-inact	       , .rich-datascr-button-dsbld {
	font-family: inherit;
	font-size: inherit;
	background-color: inherit;
	color: inherit;
	border-style: none;
}
.rich-datascr {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}
.rich-dtascroller-table {
	text-align: center;
	width: 100%;
}

.rich-dtascroller-table td {
    width: 20% !important;
}
.rich-tabpanel-content, .rich-tabpanel, .rich-panel-header, .rich-panel-body {
    width: auto;
	overflow: auto;
	font-family: inherit;
	font-size: inherit;
}
.rich-panel {
    width: 575px;
}
.rich-tabpanel-content {
	height: 200px;
}
.usage_agreement,.white_space {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word;
	height: inherit;
    font-family: fixed;
}
table.name_value {
	height: inherit;
}
table.name_value th {
	text-align: right;
	padding-right: 5px;
}



/* ==================================================================
 * Section: Debugging
 *
 * <Debug Toggle>
 * Replace dot by star to enable debug:     ./

* {
	border: 1px solid red !important;
}

/* <End Debug Toggle>                       */
