/** -*- coding: utf-8; mode: css; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- vim:fenc=utf-8:filetype=css:et:sw=4:ts=4:sts=4
 *
 * Demo CSS Style:
 *      Application-Specific Colors.
 *
 * @author mbillemo
 *
 * Copyright 2006-2008 - Lin.k NV
 *
 */

/* Schema:
 *
 * A=CBA8EF
 * B=A660EF
 * C=977DB2
 * D=7141A2
 * E=4E2D6F
 *
 */



/* ==================================================================
 * Section: Basic HTML
 */

body {
    color:              white;
    background:         white;
}
h1, h2 {
    color:              #7141A2; /* D */
}
a, a:link, a:visited, input[type=submit] {
    color:              white;
}
a:active, a:hover {
    color:              #CBA8EF; /* A */
}
table {
    background:         #7141A2; /* D */
    border-color:       #4E2D6F; /* E */
}
table caption {
    background:         #4E2D6F; /* E */
    border-color:       #4E2D6F; /* E */
    color:              white;
}
table td, input[type=submit] {
    background:         #A660EF; /* B */
}
table td a:hover, input[type=submit]:hover {
    background:         #CBA8EF; /* A */
    color:              #A660EF; /* B */
}
table th a:hover, table th input[type=submit]:hover {
    background:         #CBA8EF; /* A */
    color:              #4E2D6F; /* E */
}
table tfoot tr {
    border-top-color:   #4E2D6F; /* E */
}
.header {
    border-bottom-color:#4E2D6F; /* E */
}
input[type=text], textarea, select {
    border-color:       #4E2D6F; /* E */
}



/* ==================================================================
 * Section: Classes
 */

.selected {
    background:         #a6a6f6;
}
.key {
    background:         #d9d9d9;
    border-color:       #a6a6a6;
}
#errors {
    border:             1px solid #ffcccc;
}
#errors th, #errors td {
    background:         #993333;
    color:              #ffcccc;
}
#errors th {
    background:         #cc6666;
}



/* ==================================================================
 * Section: Base Elements
 */

#header {
    background:         #7141A2; /* D */
    border-bottom-color:#4E2D6F; /* E */
}
#header h1 {
    color:              #4E2D6F; /* E */
}
#logo {
    border-color:       #4E2D6F; /* E */
}
#footer {
    border-top-color:   #977DB2; /* C */
    color:              #977DB2; /* C */
}
