# OS X
/.com.apple.timemachine.supported
/.fseventsd

# Maven2 Relocated Local Repository for Lin.k artifacts.
/.m2-repo

# Eclipse
/*/.settings
/*/.project
/*/.classpath

# Compiled
/target
/*/target
