<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/"
	xml:lang="en" lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<wicket:border>
			<div id="c-content">
				<div id="content">

					<wicket:body>
						<caption>Welcome</caption>
					</wicket:body>

					<hr class="float_fix" />
				</div>
			</div>

			<div id="footer">Copyright 2006-2008 - Lin.k NV</div>
		</wicket:border>
	</body>
</html>