<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/"
	xml:lang="en" lang="en">

	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>

	<body>

		<wicket:border>

			<div id="c-sidebox">
				<img src="images/box_top.png" border="0" />
				<div id="sidebox">

					<wicket:body>
						[ Additional Info ]
                    </wicket:body>

					<wicket:enclosure child="side_links">
						<ul wicket:id="side_links">
							<wicket:enclosure child="help-link">
								<li>
									<a wicket:id="help-link">
										<wicket:message key="helpaction">[Help]</wicket:message>
									</a>
								</li>
							</wicket:enclosure>
							<li wicket:id="links">
								<a wicket:id="link">
									<span wicket:id="link_message">[Link]</span>
								</a>
							</li>
						</ul>
					</wicket:enclosure>

					<p wicket:id="help-message" />
				</div>
				<img src="images/box_bottom.png" border="0" />
			</div>

		</wicket:border>

	</body>

</html>
