<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Olas Beid Device Web Application</display-name>
	<listener>
		<listener-class>
			org.jboss.seam.servlet.SeamListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.sun.faces.config.ConfigureListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>${debug.mode}</param-value>
	</context-param>
	<context-param>
		<param-name>org.jboss.seam.core.init.debug</param-name>
		<param-value>${debug.mode}</param-value>
	</context-param>
	<context-param>
		<param-name>CommercialName</param-name>
		<param-value>OLAS</param-value>
	</context-param>
	<context-param>
		<param-name>ApplicationName</param-name>
		<param-value>olas-beid</param-value>
	</context-param>
	<context-param>
		<param-name>DeviceName</param-name>
		<param-value>beid</param-value>
	</context-param>
	<context-param>
		<param-name>KeyStoreResource</param-name>
		<param-value>safe-online-beid-keystore.jks</param-value>
	</context-param>
	<context-param>
		<param-name>KeyStoreType</param-name>
		<param-value>jks</param-value>
	</context-param>
	<context-param>
		<param-name>KeyStorePassword</param-name>
		<param-value>secret</param-value>
	</context-param>
	<context-param>
		<param-name>WsLocation</param-name>
		<param-value>${safe-online.host.basename}</param-value>
	</context-param>
	<context-param>
		<param-name>AuthenticationUrl</param-name>
		<param-value>beid.html</param-value>
	</context-param>
	<context-param>
		<param-name>RegistrationUrl</param-name>
		<param-value>register-beid.seam</param-value>
	</context-param>
	<context-param>
		<param-name>RemovalUrl</param-name>
		<param-value>remove-beid.seam</param-value>
	</context-param>
	<context-param>
		<param-name>RegistrationServiceUrl</param-name>
		<param-value>
			${safe-online.host.basename}/olas-beid/regexit
		</param-value>
	</context-param>
	<context-param>
		<param-name>RemovalServiceUrl</param-name>
		<param-value>
			${safe-online.host.basename}/olas-beid/removeexit
		</param-value>
	</context-param>
	<filter>
		<filter-name>JAASLoginFilter</filter-name>
		<filter-class>
			net.link.safeonline.sdk.auth.filter.JAASLoginFilter
		</filter-class>
		<init-param>
			<param-name>LoginContextName</param-name>
			<param-value>client-login</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Seam Exception Filter</filter-name>
		<filter-class>
			org.jboss.seam.servlet.SeamExceptionFilter
		</filter-class>
	</filter>
	<filter>
		<filter-name>Seam Redirect Filter</filter-name>
		<filter-class>
			org.jboss.seam.servlet.SeamRedirectFilter
		</filter-class>
	</filter>
	<filter>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<filter-class>
			org.apache.myfaces.webapp.filter.ExtensionsFilter
		</filter-class>
	</filter>
	<filter>
		<display-name>Ajax4jsf Filter</display-name>
		<filter-name>ajax4jsf</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JAASLoginFilter</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Seam Exception Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Seam Redirect Filter</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ajax4jsf</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.seam</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthLandingServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.device.sdk.auth.servlet.LandingServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthLandingServlet</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthenticationServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.beid.servlet.AuthenticationServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/authentication</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExitServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.device.sdk.auth.servlet.ExitServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExitServlet</servlet-name>
		<url-pattern>/authenticationexit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegLandingServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.device.sdk.reg.servlet.LandingServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegLandingServlet</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IdentityServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.beid.servlet.IdentityServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentityServlet</servlet-name>
		<url-pattern>/identity</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegExitServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.device.sdk.reg.servlet.ExitServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegExitServlet</servlet-name>
		<url-pattern>/regexit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JavaVersionServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.beid.servlet.JavaVersionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaVersionServlet</servlet-name>
		<url-pattern>/version</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NoPkcs11Servlet</servlet-name>
		<servlet-class>
			net.link.safeonline.beid.servlet.NoPkcs11Servlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoPkcs11Servlet</servlet-name>
		<url-pattern>/no-pkcs11</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveLandingServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.device.sdk.remove.servlet.LandingServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveLandingServlet</servlet-name>
		<url-pattern>/remove</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IdentityRemoveServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.beid.servlet.IdentityRemoveServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentityRemoveServlet</servlet-name>
		<url-pattern>/identityremove</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveExitServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.device.sdk.remove.servlet.ExitServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveExitServlet</servlet-name>
		<url-pattern>/removeexit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IdentificationServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.beid.servlet.IdentificationServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentificationServlet</servlet-name>
		<url-pattern>/identification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IdentificationDataServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.beid.servlet.IdentificationDataServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentificationDataServlet</servlet-name>
		<url-pattern>/identificationData</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IdentificationExitServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.beid.servlet.IdentificationExitServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentificationExitServlet</servlet-name>
		<url-pattern>/identificationExit</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
</web-app>
