<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>LinkID SDK JSK Example Webapp</display-name>
    
    <filter>
        <filter-name>ConfigFilter</filter-name>
        <filter-class>net.link.safeonline.sdk.configuration.SDKConfigFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ConfigFilter</filter-name>
        <url-pattern>/*</url-pattern>

        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>AuthnResponseFilter</filter-name>
        <filter-class>net.link.safeonline.sdk.auth.filter.AuthnResponseFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthnResponseFilter</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthnRequestFilter</filter-name>
        <filter-class>net.link.safeonline.sdk.auth.filter.AuthnRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthnRequestFilter</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>
</web-app>
