/** -*- coding: utf-8; mode: css; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- vim:fenc=utf-8:filetype=css:et:sw=4:ts=4:sts=4
 *
 * OLAS CSS Style:
 *      Element Positioning
 *      Background Images, Borders
 *      Greyscale Coloring Only
 *
 * @author mbillemo
 *
 * Copyright 2006-2008 - Lin.k NV
 *
 */



/* ==================================================================
 * Section: Basic HTML
 */

html {
    width:              100%;
    height:             100%;
    margin:             0;
    padding:            0;	
}
body {
    margin:             0;
    padding:            0;
    
    background:         url('../images/fade.png') repeat-x top center;

    font:               14px/ 21px "Trebuchet MS", Verdana, Arial;
    text-align:         center;
}
body.minimal {
    background:         transparent;
}
p, h1, h2, h3, h4, h5, h6, br {
    margin:             0;
    padding:            0;

    clear:              left;
}
h1 {
    margin-bottom:      21px;

    font:               28px/ 42px "Trebuchet MS", Verdana, Arial;
}
h2 {
    margin:             14px 0;

    font:               21px/ 28px "Trebuchet MS", Verdana, Arial;
}
p {
    margin-top:         14px;
    padding-bottom:     7px;
}
a {
    text-decoration:    none;
}
a:hover {
    border-bottom:      1px dotted black;
}



/* ==================================================================
 * Section: Base Elements
 */

/*********************************************** HEADER CONTAINER **/
#c-header {
    display:            block;

    width:              1000px;
    height:             150px;
    margin:             0 auto;
    padding:            0;

    background:         url('../images/header.png') no-repeat left top;
}
.minimal #c-header {
    position:           absolute;
    left:               50%;

    height:             auto;
    margin-left:        -500px;

    background:         transparent;
}
.minimal #c-header a {
    color: #333;
}

/********************************************************* HEADER **/
#header {
    display:            block;

    width:              865px;
    height:             115px;                      /* IE doesn't include padding in h/w. */
    margin:             0;
    padding:            25px 0 0;

    text-align:         right;
}
#header[id] {
    height:             90px;
}
.minimal #header {
    height:             auto;
}
#header form img {
    margin-right:       5px;

    border:             1px solid transparent;
}
#header a:hover img {
    border:             1px solid white;
}

/**************************************************** HEADER MENU **/
#c-header ul.menu {
    display:            block;
    float:              right;

    width:              750px;
    height:             35px;
    margin:             0;
    padding:            0;
    padding-right:      25px;

    list-style:         none;
}

#c-header ul.menu li {
    display:            inline;
    float:              left;

    width:              150px;
    height:             35px;
    margin:             0;
    padding:            0;

    background:         url('../images/tab_unselected.png') top right;
}

#c-header ul.menu li:hover {
    background:         url('../images/tab_hover.png');
}

#c-header ul.menu li.selected {
    background:         url('../images/tab_selected.png');
}

#c-header ul.menu li a {
    display:            block;

    width:              136px;
    height:             21px;
    margin:             0;
    padding:            7px;

    font-weight:        bold;
    text-decoration:    none;
}

#c-header ul.menu li.selected a {
    padding:            10px 7px 4px 7px;
}

#c-header ul.menu li a:hover {
    border:             none;

    font-weight:        bold;
    text-decoration:    none;
}

/********************************************** CONTENT CONTAINER **/
#c-content {
    display:            block;

    width:              100%;
    margin:             0 auto;
    padding:            0;

    text-align:         center;
}

/******************************************************** CONTENT **/
#content {
    display:            block;

    width:              900px;
    height:             auto;
    min-height:         350px;
    margin:             0 auto;
    padding:            25px 0;

    text-align:         left;
}
* html #content {
    height:             350px;
}

/********************************************************* FOOTER **/
#footer {
    display:            block;
    clear:              both;

    width:              100%;
    height:             50px;
    margin:             0 auto;
    padding:            0;
    padding-top:        50px;

    background:         url('../images/footer.png') left top;
}
.minimal #footer {
    display:            none;
}

/********************************************* SIDE BOX CONTAINER **/
#c-sidebox {
    display:            block;
    float:              right;

    width:              300px;
    margin:             0 0 0 2em;
    padding:            0;

    text-align:         left;
}
.minimal #c-sidebox {
    margin-top:         -2em;
}

/******************************************************* SIDE BOX **/
#sidebox {
    width:              100%;                       /* IE needs margin included in the width. */
    margin:             0 10%;
    margin-top:         -11px;
    padding:            0;
}
#sidebox[id] {
    width:              80%;
}

/****************************************************** SIDE MENU **/
#sidebox ul {
    display:            block;
    float:              left;
    clear:              both;

    width:              100%;
    margin:             14px 0 14px 0;
    padding:            0;

    border-top:         1px dotted black;

    list-style:         none;
}
#sidebox ul li {
    display:            block;

    width:              100%;
    margin:             0;
    padding:            0;

    border-bottom:      1px dotted black;
}
#sidebox ul li a {
    display:            block;

    padding:            10px;
    padding-left:       30px;

    border:             none;
    background:         url('../images/icons/bullet_go.png') no-repeat;
    background-position:10px 12px;

    text-decoration:    none;
}
#sidebox ul li a:hover {
    color:              white !important;
}

/******************************************************* TIMELINE **/
table.timeline {
    height:             70px;
    margin:             0;
    padding:            0;

    background:         url('../images/timeline/timeline.png') top left repeat-x;

    font:               inherit;
    text-align:         center;
}
table.timeline[class] {
    height:             35px;
}
table.timeline td {
    height:             70px;                       /* IE doesn't include padding in h/w. */
    padding:            0;
    padding-top:        35px;
    padding-left:       5px;
    padding-right:      5px;

    background:         url('../images/timeline/timeline_other.png') top center no-repeat;

    font:               10px/ 15px "Trebuchet MS", Verdana, Arial;
    text-align:         center;
}
table.timeline>td {
    height:             35px;
}

table.timeline td.active {
    background:         url('../images/timeline/timeline_current.png') top center no-repeat;
}
table.timeline td.start {
    width:              50px;
    height:             100%;

    background:         url('../images/timeline/timeline_fade_in.png') top right no-repeat;
}
table.timeline td.end {
    width:              50px;
    height:             100%;

    background:         url('../images/timeline/timeline_fade_out.png') top left no-repeat;
}



/* ==================================================================
 * Section: Classes
 */

/************************************************* ERROR MESSAGES **/
.tiny {
    width:              10%;
}
.small {
    width:              20%;
}
.third {
    width:              33%;
}
.half {
    width:              50%;
}
.error {
    display:            block;
    clear:              left;

    width:              273px;
    margin:             1ex 0 0;
    margin-left:        150px;
    padding:            7px;
    padding-left:       25px;

    border:             1px solid red;
    background:         pink url('../images/icons/exclamation.png') no-repeat 5px 5px;
}
table .error {
    margin:             1ex 0 0;
}
.error input {
    clear:              none;
}
.error_message {
    display:            block;
    clear:              left;

    width:              80%;
    margin:             0;
    margin-left:        150px;
    padding:            3px;
    padding-left:       25px;

    border:             1px solid red;
    background:         pink url('../images/icons/exclamation.png') no-repeat 5px 5px;
}
.error_field {
    color:              red !important;
}

/************************************************ UTILITY CLASSES **/
hr.float_fix {
    visibility:         hidden;

    display:            block;
    clear:              both;

    margin:             0;
}
.right {
    text-align:         right;
}
.padded {
    padding:            7px !important;
}
.indent {
    margin-left:        2em;
}
.nospace, .nospace * {
    margin:             0;
    padding:            0;
}
.inner, .text.block {
    width:              500px;
    margin-left:        20px;                       /* auto margin doesn't center in IE. */
    margin-right:       20px;
}
table .text.block {
    margin:             auto;
}
.center {
    float:              none;

    text-align:         center;
}
.noborders, .noborders * {
    border:             none !important;
}
.noblock {
    display:            inline !important; 

    width:              auto;
    height:             auto;
}
.rich-panel {
    width:              575px;
}

/************************************************* USAGE AGREEMENT **/
.text.usage {
    height:             200px;
    padding:            10px;
}
.text {
    overflow:           auto;

    font-family:        monospace;

    white-space:        pre-wrap;                   /* css-3 */
    white-space:        -moz-pre-wrap !important;   /* Mozilla, since 1999 */
    white-space:        -pre-wrap;                  /* Opera 4-6 */
    white-space:        -o-pre-wrap;                /* Opera 7 */
    word-wrap:          break-word;
}
.text.block {
    display:            block;
}

/********************************************* SAFE ONLINE TAGLIB **/
.so-input {
    display:            block;
    height:             1.3em;
}
.so-input-text {
}
.so-output {
}
.so-nameoutput {
}
.so-nameoutput-compounded {
    font-weight:        bold;
}
.so-nameoutput-member {
    margin-left:        15px;

    font-style:         italic;
}

/* ==================================================================
 * Section: Forms
 */

label {
    float:              left;

    width:              150px;
    padding:            0 25px 0 0;

    background:         url('../images/icons/16-arrow-down.png') no-repeat 5px 6px;

    font:               14px "Thesis Sans", "Myriad Pro", "Lucida sans", Verdana, sans-serif;
    text-align:         right;
    vertical-align:     bottom;
}
label[for] {
    display:            block;
    clear:              left;

    width:              125px;                      /* Non-IE box-model */

    border-bottom:      1px solid transparent;      /* Prevent empty label collapsing */
}
table label {
    float:              none;
    display:            inline !important;

    text-align:         left;
}
input, select, textarea {
    margin:             0;
    margin-right:       5px;
    padding:            0;

    font:               14px "Thesis Sans", "Myriad Pro", "Lucida sans", Verdana, sans-serif;
}
input[disabled], select[disabled], textarea[disabled] {
    border-color:       #BBB !important;
    border-bottom-style:solid !important;
}
input[disabled]:hover, select[disabled]:hover, textarea[disabled]:hover {
    border-color:       #FBB !important;
}
.af_inputFile, .label, .so-output, .tinylabel {
    display:            block;
    
    margin:             0 0 15px 0;

    border:             none;

    vertical-align:     bottom;
}
.af_inputFile, .label, .so-output {
    width:              300px;
}
table .af_inputFile, table .label, table .so-output {
    margin:             0;
}
input.label, textarea.label {
    border-bottom:      1px dotted black;
}
input.label:hover,.so-input-text:hover, input.label:focus {
    border-bottom-style:solid;
}
img.label {
    width:              auto;
}
select.label, select.label:hover {
    border:             none; 
}
input.submit {
    display:            inline !important;
}
a.submit {
    display:            block;
    float:              left;
    padding-top:        2px;
}
a.submit:active {
    padding-top:        3px;
    padding-left:       1px;
}
a.submit:hover {
    border-bottom:      none;
}
.submit {
    width:              125px;
    height:             25px;
    margin:             15px 25px 7px 0;

    border:             none;
    background:         url('../images/button.jpg') no-repeat;
    color:              white !important;

    font-family:        bold 12px Verdana, Arial, Helvetica, sans-serif;
    text-align:         center;
}
textarea {
    display:            block;

    margin:             auto;

    border:             1px solid black;
}



/* ==================================================================
 * Section: Tables
 */

table, .fullwidth {
    width:              568px;                      /* Just right to fit simpleTogglePanels */
}
table.auto {
    width:              auto;
    margin-left:        auto;
    margin-right:       auto;
}
table {
    float:              none;
    clear:              left;

    margin:             0 0 1em;
    padding:            0;

    border:             0 solid black;
    border-width:       0 2px 2px 1px;
    border-collapse:    collapse;

    font-size:          11px;
    font-family:        Arial, Verdana, sans-serif;
}
table colgroup {
    width:              inherit;
}
table th, table td {
    border:             1px solid black;
    border-left:        none;

    margin:             0;
    padding:            4px;
}
table th {
    border-bottom:      none;
}
table thead tr th, table thead tr td {
    font-weight:        bold;
    text-align:         left;
}
table tfoot tr, table tfoot td, table tfoot th {
    border:             none;
    padding:            0;
    margin:             0;
}
/* Make links in tables easier to click. */
table td a, table th a {
    display:            block;

    width:              inherit;
    height:             inherit;
    padding-bottom:     1px;
}
table td a:hover, table th a:hover {
    border:             none;

    text-decoration:    underline;
}
table.plain, table.plain tr td, table.plain tr th {
    border:             none;
}
table.plain tr, table.plain tr:hover {
    background:         transparent;
}



/* ==================================================================
 * Section: RichFaces Fixes
 */

.dr-table-footercell {
    padding:            0;
}
div.dr-dscr {
    width:              100%;

    text-align:         center;
}
div.dr-dscr table {
    width:              auto;
    margin:             auto;
}
div.dr-dscr * {
    margin:             0;
    padding:            2px;

    border:             none;
    background:         none;
}
table.rich-list-shuttle, table.rich-list-shuttle table {
    width:              auto;
    margin:             0;
}
table.rich-shuttle-body table {
    border:             none;
}
.rich-shuttle-target-caption {
    padding-left:       8px;
}
.rich-spacer {
    clear:              both;
    display:            block;
}



/* ==================================================================
 * Section: Browser Hacks
 *
 * SAFARI
    Expected:   [ float-block ] [ block ]
    Bugged:     [ block ] [ float-block ] */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.af_inputFile, .label, .so-output, .tinylabel {
    margin-left:       150px;
}
}



/* ==================================================================
 * Section: Debugging
 *
 * <Debug Toggle>
 * Replace dot by star to enable debug:     ./

* {
    border:             1px solid red !important;
}

/* <End Debug Toggle>                       */
