<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>SafeOnline Demo Web Application</display-name>

	<context-param>
		<param-name>title</param-name>
		<param-value>OLAS Test Web Application</param-value>
	</context-param>

	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>
			net.link.safeonline.sdk.auth.filter.AuthenticationFilter
		</filter-class>
		<init-param>
			<param-name>SafeOnlineAuthenticationServiceUrl</param-name>
			<param-value>
				https://${safe-online.host.name}:${safe-online.host.port.ssl}/olas-auth/
			</param-value>
		</init-param>
		<init-param>
			<param-name>ApplicationName</param-name>
			<param-value>demo-application</param-value>
		</init-param>
		<init-param>
			<param-name>AuthenticationProtocol</param-name>
			<param-value>SAML2_BROWSER_POST</param-value>
		</init-param>
		<init-param>
			<param-name>KeyStoreType</param-name>
			<param-value>jks</param-value>
		</init-param>
		<init-param>
			<param-name>KeyStoreResource</param-name>
			<param-value>safe-online-demo-keystore.jks</param-value>
		</init-param>
		<init-param>
			<param-name>KeyStorePassword</param-name>
			<param-value>secret</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>
			net.link.safeonline.sdk.auth.filter.LoginFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/secure2/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/secure2/*</url-pattern>
	</filter-mapping>

	<security-constraint>
		<display-name>SecurityConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/secure/*</url-pattern>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>WebAppUser</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-role>
		<role-name>WebAppUser</role-name>
	</security-role>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>demo-realm</realm-name>
		<form-login-config>
			<form-login-page>/logon.jsp</form-login-page>
			<form-error-page>/logonError.jsp</form-error-page>
		</form-login-config>
	</login-config>

</web-app>
