<?xml version="1.0"?>
<Context>
	<!-- Next is not working in combination with jboss-app.xml loader-repository element.
		To make this to work we would have to inject the class in the Tomcat classloader 
		via some custom classloading toying.
		<Valve className="net.link.safeonline.util.valve.LoginValve" />
	-->
</Context>
