<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Olas BeId Device Web Application</display-name>
	<servlet>
		<servlet-name>beidapp</servlet-name>
		<servlet-class> org.apache.wicket.protocol.http.WicketServlet 
		</servlet-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>
				net.link.safeonline.beid.webapp.BeIdApplication 
			</param-value>
		</init-param>
		<!--
			<init-param> <param-name>configuration</param-name>
			<param-value>DEPLOYMENT</param-value> </init-param>
		-->
		<context-param>
			<param-name>configuration</param-name>
			<param-value>development</param-value>
		</context-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>beidapp</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>CommercialName</param-name>
		<param-value>${safe-online.commercial.name}</param-value>
	</context-param>
	<context-param>
		<param-name>ApplicationName</param-name>
		<param-value>${safe-online.beid.webapp.name}</param-value>
	</context-param>
	<context-param>
		<param-name>DeviceName</param-name>
		<param-value>beid</param-value>
	</context-param>
	<context-param>
		<param-name>KeyStoreResource</param-name>
		<param-value>safe-online-beid-keystore.jks</param-value>
	</context-param>
	<context-param>
		<param-name>KeyStoreType</param-name>
		<param-value>jks</param-value>
	</context-param>
	<context-param>
		<param-name>KeyStorePassword</param-name>
		<param-value>secret</param-value>
	</context-param>
	<context-param>
		<param-name>WsLocation</param-name>
		<param-value> ${safe-online.host.auth.basename} </param-value>
	</context-param>
	<filter>
		<filter-name>JAASLoginFilter</filter-name>
		<filter-class>net.link.safeonline.sdk.auth.filter.JAASLoginFilter</filter-class>
		<init-param>
			<param-name>LoginContextName</param-name>
			<param-value>client-login</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>JAASLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>AuthLandingServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.device.sdk.auth.servlet.LandingServlet</servlet-class>
		<init-param>
			<param-name>AuthenticationUrl</param-name>
			<param-value>beid.html</param-value>
			<description> URL to where we redirect after successful handling SAML
				POST request. </description>
		</init-param>
		<init-param>
			<param-name>ServletEndpointUrl</param-name>
			<param-value>
				${safe-online.host.auth.basename}/${safe-online.beid.webapp.name}/auth 
			</param-value>
			<description>Used to wrap the servlet request's request URL for
				verification of the receiving endpoint with the destination in the
				saml request.</description>
		</init-param>
		<init-param>
			<param-name>ErrorPage</param-name>
			<param-value>error?type=protocol</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthLandingServlet</servlet-name>
		<url-pattern>/_auth</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthenticationServlet</servlet-name>
		<servlet-class>net.link.safeonline.beid.servlet.AuthenticationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationServlet</servlet-name>
		<url-pattern>/_authentication</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExitServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.device.sdk.auth.servlet.ExitServlet</servlet-class>
		<init-param>
			<param-name>ErrorPage</param-name>
			<param-value>error?type=protocol</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExitServlet</servlet-name>
		<url-pattern>/_authentication_exit</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Entry point for device operation service.</description>
		<servlet-name>DeviceLandingServlet</servlet-name>
		<servlet-class>net.link.safeonline.device.sdk.servlet.LandingServlet</servlet-class>
		<init-param>
			<param-name>RegistrationUrl</param-name>
			<param-value>_registration</param-value>
		</init-param>
		<init-param>
			<param-name>RemovalUrl</param-name>
			<param-value>_removal</param-value>
		</init-param>
		<init-param>
			<param-name>DisableUrl</param-name>
			<param-value>_disabling</param-value>
		</init-param>
		<init-param>
			<param-name>EnableUrl</param-name>
			<param-value>_enabling</param-value>
		</init-param>
		<init-param>
			<param-name>ServletEndpointUrl</param-name>
			<param-value>
				${safe-online.host.auth.basename}/${safe-online.beid.webapp.name}/_device 
			</param-value>
			<description>Used to wrap the servlet request's request URL for
				verification of the receiving endpoint with the destination in the
				saml request.</description>
		</init-param>
		<init-param>
			<param-name>ErrorPage</param-name>
			<param-value>error?type=protocol</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceLandingServlet</servlet-name>
		<url-pattern>/_device</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IdentityServlet</servlet-name>
		<servlet-class>net.link.safeonline.beid.servlet.IdentityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentityServlet</servlet-name>
		<url-pattern>/_identity</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeviceExitServlet</servlet-name>
		<servlet-class>net.link.safeonline.device.sdk.servlet.ExitServlet</servlet-class>
		<init-param>
			<param-name>ErrorPage</param-name>
			<param-value>error?type=protocol</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceExitServlet</servlet-name>
		<url-pattern>/_device_exit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JavaVersionServlet</servlet-name>
		<servlet-class>net.link.safeonline.beid.servlet.JavaVersionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaVersionServlet</servlet-name>
		<url-pattern>/_version</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NoPkcs11Servlet</servlet-name>
		<servlet-class>net.link.safeonline.beid.servlet.NoPkcs11Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoPkcs11Servlet</servlet-name>
		<url-pattern>/_no_pkcs11</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IdentityEnableServlet</servlet-name>
		<servlet-class>net.link.safeonline.beid.servlet.IdentityEnableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentityEnableServlet</servlet-name>
		<url-pattern>/_identity_enable</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IdentificationServlet</servlet-name>
		<servlet-class>net.link.safeonline.beid.servlet.IdentificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentificationServlet</servlet-name>
		<url-pattern>/_identification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IdentificationDataServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.beid.servlet.IdentificationDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentificationDataServlet</servlet-name>
		<url-pattern>/_identification_data</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IdentificationExitServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.beid.servlet.IdentificationExitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IdentificationExitServlet</servlet-name>
		<url-pattern>/_identification_exit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HelpdeskServlet</servlet-name>
		<servlet-class>net.link.safeonline.servlet.HelpdeskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelpdeskServlet</servlet-name>
		<url-pattern>/_helpdesk</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>net.link.safeonline.beid.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/_registration</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveServlet</servlet-name>
		<servlet-class>net.link.safeonline.beid.servlet.RemoveServlet</servlet-class>
		<init-param>
			<param-name>DeviceExitPath</param-name>
			<param-value>_device_exit</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveServlet</servlet-name>
		<url-pattern>/_removal</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DisableServlet</servlet-name>
		<servlet-class>net.link.safeonline.beid.servlet.DisableServlet</servlet-class>
		<init-param>
			<param-name>DeviceExitPath</param-name>
			<param-value>_device_exit</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisableServlet</servlet-name>
		<url-pattern>/_disabling</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EnableServlet</servlet-name>
		<servlet-class>net.link.safeonline.beid.servlet.EnableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnableServlet</servlet-name>
		<url-pattern>/_enabling</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Style Servlet</servlet-name>
		<servlet-class>
			net.link.safeonline.webapp.resources.ApplicationStyleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Style Servlet</servlet-name>
		<url-pattern>/theme.css</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>${sessionTimeout}</session-timeout>
	</session-config>
</web-app>
