<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Olas Authentication Web Application</display-name>

	<listener>
		<listener-class>
			org.jboss.seam.servlet.SeamListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			com.sun.faces.config.ConfigureListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			net.link.safeonline.auth.servlet.AuthenticationServiceManager
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			net.link.safeonline.auth.servlet.LoginSessionListener
		</listener-class>
	</listener>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>${debug.mode}</param-value>
	</context-param>

	<context-param>
		<param-name>org.jboss.seam.core.init.debug</param-name>
		<param-value>${debug.mode}</param-value>
	</context-param>

	<context-param>
		<param-name>CommercialName</param-name>
		<param-value>OLAS</param-value>
	</context-param>

	<context-param>
		<param-name>
			SafeOnlineDeviceAuthenticationServiceUrl
		</param-name>
		<param-value>
			https://${safe-online.host.name}:${safe-online.host.port.ssl}/olas-auth/device/auth
		</param-value>
	</context-param>

	<context-param>
		<param-name>WsLocation</param-name>
		<param-value>
			${safe-online.host.name}:${safe-online.host.port.ssl}
		</param-value>
	</context-param>

	<context-param>
		<param-name>ApplicationName</param-name>
		<param-value>olas-auth</param-value>
	</context-param>

	<filter>
		<filter-name>JAASLoginFilter</filter-name>
		<filter-class>
			net.link.safeonline.sdk.auth.filter.JAASLoginFilter
		</filter-class>
		<init-param>
			<param-name>LoginContextName</param-name>
			<param-value>client-login</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>Seam Exception Filter</filter-name>
		<filter-class>
			org.jboss.seam.servlet.SeamExceptionFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>Seam Redirect Filter</filter-name>
		<filter-class>
			org.jboss.seam.servlet.SeamRedirectFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<filter-class>
			org.apache.myfaces.webapp.filter.ExtensionsFilter
		</filter-class>
	</filter>

	<filter>
		<display-name>Ajax4jsf Filter</display-name>
		<filter-name>ajax4jsf</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
	</filter>

	<!-- ${safe-online.profiling.filter} -->

	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>JAASLoginFilter</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>JAASLoginFilter</filter-name>
		<servlet-name>LoginServlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>JAASLoginFilter</filter-name>
		<servlet-name>ExitServlet</servlet-name>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Seam Exception Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Seam Redirect Filter</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ajax4jsf</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.seam</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.auth.servlet.LoginServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EntryServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.auth.servlet.EntryServlet
		</servlet-class>
		<init-param>
			<param-name>StartUrl</param-name>
			<param-value>main.seam</param-value>
		</init-param>
		<init-param>
			<param-name>FirstTimeUrl</param-name>
			<param-value>first-time.seam</param-value>
		</init-param>
		<init-param>
			<param-name>UnsupportedProtocolUrl</param-name>
			<param-value>unsupported-protocol.seam</param-value>
		</init-param>
		<init-param>
			<param-name>ProtocolErrorUrl</param-name>
			<param-value>protocol-error.seam</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>EntryServlet</servlet-name>
		<url-pattern>/entry</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExitServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.auth.servlet.ExitServlet
		</servlet-class>
		<init-param>
			<param-name>ProtocolErrorUrl</param-name>
			<param-value>protocol-error.seam</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>ExitServlet</servlet-name>
		<url-pattern>/exit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CaptchaServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.auth.servlet.CaptchaServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CaptchaServlet</servlet-name>
		<url-pattern>/captcha</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeviceLandingServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.auth.servlet.DeviceLandingServlet
		</servlet-class>
		<init-param>
			<param-name>DeviceErrorUrl</param-name>
			<param-value>../device-error.seam</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeviceLandingServlet</servlet-name>
		<url-pattern>/device/auth</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeviceRegistrationLandingServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.auth.servlet.DeviceRegistrationLandingServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeviceRegistrationLandingServlet</servlet-name>
		<url-pattern>/device/registrationlanding</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeviceRegistrationExitServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.auth.servlet.DeviceRegistrationExitServlet
		</servlet-class>
		<init-param>
			<param-name>DeviceErrorUrl</param-name>
			<param-value>../device-error.seam</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeviceRegistrationExitServlet</servlet-name>
		<url-pattern>/device/exit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PkiServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.auth.servlet.PkiServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PkiServlet</servlet-name>
		<url-pattern>/pki/cert</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

</web-app>
