<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.sourceforge.net/"
	xml:lang="en" lang="en">
	<body>
		<wicket:panel>
			<a wicket:id="first">
				<img wicket:id="first_image" />
			</a>&nbsp;
			<a wicket:id="prev">
				<img wicket:id="prev_image" />
			</a>&nbsp;
			<span wicket:id="navigation">
				<a wicket:id="pageLink" href="#">
					<span wicket:id="pageNumber">5</span>
				</a>
			</span>&nbsp;
			<a wicket:id="next">
				<img wicket:id="next_image" />
			</a>&nbsp;
			<a wicket:id="last">
				<img wicket:id="last_image" />
			</a>
		</wicket:panel>
	</body>
</html>
