##
## Velocity Template for SAML 2 HTTP-POST binding
##
## See also: http://velocity.apache.org/
##
## The extension VM stands for Velocity Macro.
##
## Velocity context may contain the following properties
## action - String - the action URL for the form
## RelayState - String - the relay state for the message
## SAMLRequest - String - the Base64 encoded SAML Request
## SAMLResponse - String - the Base64 encoded SAML Response
## Language - String(ISO-639) - the language to use in linkID.
## ThemeName - String - The name of the linkID theme to apply.

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="pragma" content="no-cache"/>
		<meta http-equiv="cache-control" content="no-cache, must-revalidate"/>
		<meta http-equiv="expires" content="-1"/>
	</head>

        <body onload="document.forms[0].submit()">
        <noscript>
            <p>
                <strong>Note:</strong> Since your browser does not support JavaScript,
                you must press the Continue button once to proceed.
            </p>
        </noscript>

        #if($BreakFrame)
            <form action="${action}" method="post" autocomplete="off" target="_top">
        #else
            <form action="${action}" method="post" autocomplete="off" target="_self">
        #end

            #if($RelayState)
                <input type="hidden" name="RelayState" value="${RelayState}"/>
            #end
            
            #if($SAMLRequest)
                <input type="hidden" name="SAMLRequest" value="${SAMLRequest}"/>
            #end
            
            #if($SAMLResponse)
                <input type="hidden" name="SAMLResponse" value="${SAMLResponse}"/>
            #end
            #if($Language)
                <input type="hidden" name="Language" value="${Language}"/>
            #end

            #if($ThemeName)
               <input type="hidden" name="ThemeName" value="${ThemeName}"/>
            #end

            #if($IsBreakFrame)
                <input type="hidden" name="IsBreakFrame" value="${IsBreakFrame}"/>
            #end

            #if($login_mode)
                <input type="hidden" name="login_mode" value="${login_mode}"/>
            #end

            #if($ForceRegistration)
                <input type="hidden" name="ForceRegistration" value="${ForceRegistration}"/>
            #end

            <noscript>
                <input type="submit" value="Continue"/>
            </noscript>
        </form>
        
    </body>
</html>
