<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<mapping class="net.link.safeonline.entity.SubjectEntity" />
		<mapping class="net.link.safeonline.entity.ApplicationEntity" />
		<mapping
			class="net.link.safeonline.entity.ApplicationOwnerEntity" />
		<mapping class="net.link.safeonline.entity.HistoryEntity" />
		<mapping class="net.link.safeonline.entity.SubscriptionEntity" />
		<mapping class="net.link.safeonline.entity.AttributeTypeEntity" />
		<mapping class="net.link.safeonline.entity.AttributeEntity" />
		<mapping class="net.link.safeonline.entity.TrustDomainEntity" />
		<mapping class="net.link.safeonline.entity.TrustPointEntity" />
		<mapping
			class="net.link.safeonline.entity.SubjectIdentifierEntity" />
	</session-factory>
</hibernate-configuration>