/** -*- coding: utf-8; mode: css; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- vim:fenc=utf-8:filetype=css:et:sw=4:ts=4:sts=4
 *
 * OLAS CSS Style:
 *      Color Scheme (Application Specific)
 *
 * @author mbillemo
 *
 * Copyright 2006-2008 - Lin.k NV
 *
 */



/* ==================================================================
 * Transparent
 * ----------- */

input,
select,
textarea,
img.label,
.af_inputFile,
div.dr-dscr table tr:hover {

    background-color:   transparent !important;
}



/* ==================================================================
 * White
 * ----- */

#c-header a,
#c-header ul.menu li a,
input.submit {

    color:              white;
}


#c-content,
table tbody tr {

    background-color:   white;
}



/* ==================================================================
 * Nearly White
 * ------------ */

table tbody tr:hover {
    
    background-color:   #f0f0f0;
}


table th {
    background-color:   #F1EEE9;
}


/* ==================================================================
 * Bright Grey
 * ----------- */

#c-sidebox,
table tfoot tr, table thead tr {

    background-color:   #E8E7E7;
}


textarea,
table tbody tr th, table tbody tr td {

    border-color:       #E8E7E7 !important;
}



/* ==================================================================
 * Grey
 * ---- */

#footer {

    color:              #CCC;
}


table {

    border-top-color:   #C4C0C9;
    border-left-color:  #C4C0C9;
    border-bottom-color:#CCC;
    border-right-color: #CCC;
}
table thead th, table thead td {

    border-top-color:   #CCC;
    border-left-color:  #CCC;
    border-bottom-color:#C4C0C9;
    border-right-color: #C4C0C9;
}



/* ==================================================================
 * Dark Grey
 * --------- */

input.label:active,
.usage_agreement {

    border-color:       #888;
}



/* ==================================================================
 * Darker Grey
 * ----------- */

body {

	background-color:   #333;
}


body,
#c-header ul.menu li a:hover,
#c-header ul.menu li.selected a,
    a:hover,
    #sidebox li a:hover,
    #sidebox li.active a,
input,
select,
textarea,
img.label,
input.radio,
.af_inputFile {

    color:              #333;
}


#sidebox ul,
input.label {

    border-color:       #333;
}



/* ==================================================================
 * Darker Themed
 * ------------ */

ul.submenu li.selected a {

    color:              $darker;
}



/* ==================================================================
 * Themed
 * ----- */

h2,
a,
ul.timeline li.active,
#sidebox li a {

    color:              $bright;
}



/* ==================================================================
 * Lighter Themed
 * ------------- */

#sidebox li a:hover,
#sidebox li.active a {
	background-color:   $brighter;
}


a:hover {

    border-color:       $brighter;
}



/* ==================================================================
table tbody tr.listingTable_Row1 {
    background:         #fff
}

table tbody tr.listingTable_Row2 {
    background:         #fcfcfc;
}
*/
