/** -*- coding: utf-8; mode: css; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- vim:fenc=utf-8:filetype=css:et:sw=4:ts=4:sts=4
 *
 * Demo CSS Style:
 *      Application-Specific Colors.
 *
 * @author mbillemo
 *
 * Copyright 2006-2008 - Lin.k NV
 *
 */

/* Schema:
 *
 * A=C6AF8B
 * B=C6984F
 * C=907F65
 * D=795D31
 * E=46361C
 *
 */



/* ==================================================================
 * Section: Basic HTML
 */

body {
    color:              white;
    background:         white;
}
h1, h2 {
    color:              #795D31; /* D */
}
a, a:link, a:visited, input[type=submit] {
    color:              white;
}
a:active, a:hover {
    color:              #C6AF8B; /* A */
}
table {
    background:         #795D31; /* D */
    border-color:       #46361C; /* E */
}
table caption {
    background:         #46361C; /* E */
    border-color:       #46361C; /* E */
    color:              white;
}
table td, input[type=submit] {
    background:         #C6984F; /* B */
}
table td a:hover, input[type=submit]:hover {
    background:         #C6AF8B; /* A */
    color:              #C6984F; /* B */
}
table th a:hover, table th input[type=submit]:hover {
    background:         #C6AF8B; /* A */
    color:              #46361C; /* E */
}
table tfoot tr {
    border-top-color:   #46361C; /* E */
}
.header {
    border-bottom-color:#46361C; /* E */
}
input[type=text], textarea, select {
    border-color:       #46361C; /* E */
}



/* ==================================================================
 * Section: Classes
 */

.selected {
    background:         #a6a6f6;
}
.key {
    background:         #d9d9d9;
    border-color:       #a6a6a6;
}
#errors {
    border:             1px solid #ffcccc;
}
#errors th, #errors td {
    background:         #993333;
    color:              #ffcccc;
}
#errors th {
    background:         #cc6666;
}



/* ==================================================================
 * Section: Base Elements
 */

#header {
    background:         #795D31; /* D */
    border-bottom-color:#46361C; /* E */
}
#header h1 {
    color:              #46361C; /* E */
}
#logo {
    border-color:       #46361C; /* E */
}
#footer {
    border-top-color:   #907F65; /* C */
    color:              #907F65; /* C */
}
