/** -*- coding: utf-8; mode: css; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- vim:fenc=utf-8:filetype=css:et:sw=4:ts=4:sts=4
 *
 * Demo CSS Style:
 *      Application-Specific Colors.
 *
 * @author mbillemo
 *
 * Copyright 2006-2008 - Lin.k NV
 *
 */

/* Schema:
 *
 * A=515699 // Link Fore
 * B=989FB0 // Link Hover Back
 * C=A6A6A6 // Border
 * D=CFD9F0 // Header + Table Back
 * E=000099 // Main Fore
 *
 */



/* ==================================================================
 * Section: Basic HTML
 */

body {
    color:              #000099; /* E */
    background:         white;
}
h1, h2 {
    color:              #000099; /* E */
}
a, a:link, a:visited, input[type=submit] {
    color:              #515699; /* A */
}
a:active, a:hover {
    color:              #989FB0; /* B */
}
table {
    background:         #CFD9F0; /* D */
    border-color:       #CFD9F0; /* D */
}
table caption {
    background:         white;
    border-color:       #CFD9F0; /* D */
    color:              black;
}
table a, input[type=submit] {
    background:         #CFD9F0; /* D */
}
table td a:hover, input[type=submit]:hover {
    background:         #989FB0; /* B */
    color:              #515699; /* A */
}
table th a:hover, table th input[type=submit]:hover {
    background:         #989FB0; /* B */
    color:              #000099; /* E */
}
table tfoot tr {
    border-top-color:   #A6A6A6; /* C */
}
.header {
    border-bottom-color:#A6A6A6; /* C */
}
input[type=text], textarea, select {
    border-color:       #A6A6A6; /* C */
}



/* ==================================================================
 * Section: Classes
 */

.selected {
    background:         #a6a6f6;
}
.key {
    background:         #d9d9d9;
    border-color:       #a6a6a6;
}
#errors {
    border:             1px solid #ffcccc;
}
#errors th, #errors td {
    background:         #993333;
    color:              #ffcccc;
}
#errors th {
    background:         #cc6666;
}



/* ==================================================================
 * Section: Base Elements
 */

#header {
    background:         #CFD9F0; /* D */
    border-bottom-color:#A6A6A6; /* C */
}
#logo {
    border-color:       #A6A6A6; /* C */
}
#footer {
    border-top-color:   #A6A6A6; /* C */
    color:              #A6A6A6; /* C */
}
