/** -*- coding: utf-8; mode: css; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- vim:fenc=utf-8:filetype=css:et:sw=4:ts=4:sts=4
 *
 * OLAS CSS Style:
 *      Element Positioning
 *      Background Images, Borders
 *      Greyscale Coloring Only
 *
 * @author mbillemo
 *
 * Copyright 2006-2008 - Lin.k NV
 *
 */



/* ==================================================================
 * Section: Basic HTML
 */

html, body {
    margin:             0;
    padding:            0;
}
body {
    font:               14px/ 21px "Trebuchet MS", Verdana, Arial;
    text-align:         center;
}
p, h1, h2, h3, h4, h5, h6, br {
    margin:             0;
    padding:            0;

    clear:              left;
}
h1 {
    margin-bottom:      21px;

	color:              #000099;

    font:               28px/ 42px "Trebuchet MS", Verdana, Arial;
}
h2 {
    margin:             14px 0;

	color:              #000099;

    font:               21px/ 28px "Trebuchet MS", Verdana, Arial;
}
p {
    margin-top:         14px;
    padding-bottom:     7px;
}
a, a:link, a:visited, input[type=submit] {
    color:              #8a8aea;
    font:               inherit;
    border:             none;
    background:         transparent;

    text-decoration:    none;
}
a:active {
    color:              #ea8a8a;

    text-decoration:    underline;
}
table {
    width:              100%;
    margin:             1em auto 3em;

    border:             1px solid #eaeaea;
    background:         #fbfbfb;
    border-collapse:    collapse;
}
table th {
    background:         #f0f0f0;

    text-align:         center;
}
table td, table th {
    padding:            1ex;
}
table caption {
    padding:            1ex;

    border:             1px solid #eaeaea;

    font-weight:        bold;
    font-size:          120%;
}
table a, input[type=submit] {
    display:            block;

    padding:            1ex 0;
    width:              100%;
}
table a:hover, input[type=submit]:hover {
    color:              #2a2aea;
}
table th a:hover, table th input[type=submit]:hover {
    background:         #eaeaea;
}
table td a:hover, table td input[type=submit]:hover {
    background:         #f6f6f6;
}
table tfoot tr {
    border-top:         1px solid #a6a6a6;
}
.header {
    border-bottom:      1px solid #a6a6a6;
}
input[type=text], textarea, select {
    width:              70%;
    border:             1px solid #2a2a2a;
}
textarea, select {
    height:             5em;
}



/* ==================================================================
 * Section: Classes
 */

.small {
    width:              20%;
}
.tiny {
    width:              10%;
}
.nopad {
    padding:            0;
}
.disabled {
    background:         #f6a6a6;
}
.selected {
    background:         #a6a6f6;
}
.key {
    background:         #d9d9d9;
    border:             1px solid #a6a6a6;

    padding:            0.5ex 1ex;
    margin:             0 0.5ex;

    font-family:        monospace;
}



/* ==================================================================
 * Section: Base Elements
 */

#header {
    padding:            2em 5em 0;
    margin:             0 0 1em;

    background:         #eaeaea;
    border-bottom:      1px solid #a6a6a6;

	font-size:          36px;
	font-weight:        normal;
    text-align:         left;
}

#content {
    width:              800px;
    padding:            0 1em;
    margin:             0 auto;

    text-align:         left;
}

#ticket, #user {
    width:              600px;
    margin:             0 auto;
}

#footer {
    margin:             3em 0 0;
	padding:            1em 2em;

	border-top:         1px solid #eaeaea;

	color:              #ccc;
	text-align:         right;
	font-size:          x-small;
}



/* ==================================================================
 * Section: Cinema Elements
 */

#seats {
    width:              auto;
}
#seats a {
    display:            block;

    width:              50px;
    height:             50px;
    padding:            0;

    border:             1px solid #eaeaea;
}
#seats a:hover {
    background:         #a6f6a6;
}

