<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
      PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
      "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<display-name>Demo Cinema Application</display-name>

    <!-- Application Context Parameters -->
	<context-param>
		<description>URL used to initiate a login process.</description>
		<param-name>AuthenticationServiceUrl</param-name>
		<param-value>${safe-online.host.auth.basename}/${safe-online.auth.webapp.name}/entry</param-value>
	</context-param>
	<context-param>
		<description>URL used to initiate a single logout process.</description>
		<param-name>LogoutServiceUrl</param-name>
		<param-value>${safe-online.host.auth.basename}/${safe-online.auth.webapp.name}/logoutentry</param-value>
	</context-param>
	<context-param>
		<description>URL used to finalize a logout request sent by the authentication webapp following a single logout process by another application.</description>
		<param-name>LogoutExitServiceUrl</param-name>
		<param-value>${safe-online.host.auth.basename}/${safe-online.auth.webapp.name}/logoutexit</param-value>
	</context-param>
	<context-param>
		<param-name>ApplicationName</param-name>
		<param-value>${safe-online.demo.cinema.webapp.name}</param-value>
	</context-param>
	<context-param>
		<param-name>AuthenticationProtocol</param-name>
		<param-value>SAML2_BROWSER_POST</param-value>
	</context-param>
	<context-param>
		<param-name>KeyStoreResource</param-name>
		<param-value>safe-online-demo-cinema-keystore.jks</param-value>
	</context-param>
	<context-param>
		<param-name>KeyStoreType</param-name>
		<param-value>jks</param-value>
	</context-param>
	<context-param>
		<param-name>KeyStorePassword</param-name>
		<param-value>secret</param-value>
	</context-param>
	<context-param>
		<param-name>SingleSignOnEnabled</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>Landing page to finalize a login process.</description>
		<param-name>LandingPage</param-name>
		<param-value>${safe-online.host.auth.basename}/${safe-online.demo.cinema.webapp.url}/login</param-value>
	</context-param>
	<context-param>
		<description>Landing page to finalize a logout process.</description>
		<param-name>LogoutLandingPage</param-name>
		<param-value>${safe-online.host.auth.basename}/${safe-online.demo.cinema.webapp.url}/logout</param-value>
	</context-param>
	<context-param>
		<param-name>TargetBaseUrl</param-name>
		<param-value>${safe-online.host.basename}/${safe-online.demo.cinema.webapp.url}/</param-value>
		<description>Url to redirect to after successful authentication</description>
	</context-param>
	<context-param>
		<param-name>WsLocation</param-name>
		<param-value>${safe-online.host.auth.basename}</param-value>
	</context-param>
	<context-param>
		<param-name>DemoHostName</param-name>
		<param-value>${safe-online.host.name}</param-value>
	</context-param>
	<context-param>
		<param-name>DemoHostPort</param-name>
		<param-value>${safe-online.host.port:insecure}</param-value>
	</context-param>

    <!-- Application Filter Definitions And Mappings -->
	<filter>
		<filter-name>WicketFilter</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>

		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>net.link.safeonline.demo.cinema.webapp.CinemaApplication</param-value>
		</init-param>
		<init-param>
			<param-name>configuration</param-name>
			<param-value>${wicket.configuration}</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>JAASLoginFilter</filter-name>
		<filter-class>net.link.safeonline.sdk.auth.filter.JAASLoginFilter</filter-class>

		<init-param>
			<param-name>LoginContextName</param-name>
			<param-value>client-login</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>ContainerLoginFilter</filter-name>
		<filter-class>net.link.safeonline.sdk.auth.filter.ContainerLoginFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AuthnResponseFilter</filter-name>
		<filter-class>net.link.safeonline.sdk.auth.filter.AuthnResponseFilter</filter-class>
	</filter>
	<!--filter>
		<filter-name>AuthnResponseFilter</filter-name>
		<filter-class>net.link.safeonline.sdk.auth.filter.AuthnResponseFilter</filter-class>
	</filter-->

	<filter-mapping>
		<filter-name>WicketFilter</filter-name>
		<url-pattern>/*</url-pattern>

		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthnResponseFilter</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>JAASLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ContainerLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--filter-mapping>
		<filter-name>AuthnResponseFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping-->

    <!-- Application Event Listeners -->
	<listener>
		<listener-class>net.link.safeonline.demo.cinema.startup.CinemaStartupListener</listener-class>
	</listener>

    <!-- Application Servlet Definitions And Mappings -->
	<servlet>
		<servlet-name>CinemaServlet</servlet-name>
		<servlet-class>net.link.safeonline.demo.cinema.webapp.servlet.CinemaTicketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CinemaServlet</servlet-name>
		<url-pattern>/CinemaServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthLoginServlet</servlet-name>
		<servlet-class>net.link.safeonline.sdk.auth.servlet.LoginServlet</servlet-class>

		<init-param>
			<param-name>ErrorPage</param-name>
			<param-value>protocol-error</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>AuthLogoutServlet</servlet-name>
		<servlet-class>net.link.safeonline.sdk.auth.servlet.LogoutServlet</servlet-class>

		<init-param>
			<param-name>LogoutUrl</param-name>
			<param-value>${safe-online.host.auth.basename}/${safe-online.demo.cinema.webapp.url}/cinemalogout</param-value>
		</init-param>
		<init-param>
			<param-name>ErrorPage</param-name>
			<param-value>protocol-error</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>CinemaLogoutServlet</servlet-name>
		<servlet-class>net.link.safeonline.demo.cinema.webapp.servlet.LogoutServlet</servlet-class>
		<init-param>
			<param-name>LogoutExitUrl</param-name>
			<param-value>${safe-online.host.auth.basename}/${safe-online.demo.cinema.webapp.url}/logout</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthLoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthLogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CinemaLogoutServlet</servlet-name>
		<url-pattern>/cinemalogout</url-pattern>
	</servlet-mapping>

    <!-- Application Session Configuration -->
	<session-config>
		<session-timeout>${sessionTimeout}</session-timeout>
	</session-config>

</web-app>
