<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<display-name>SafeOnline Password Web Service Runtime</display-name>

    <!-- Application Filter Definitions And Mappings -->
    <filter>
        <filter-name>AuditContextFilter</filter-name>
        <filter-class>net.link.safeonline.audit.AuditContextFilter</filter-class>
    </filter>
	<!-- ${safe-online.profiling.filter} -->

    <filter-mapping>
        <filter-name>AuditContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Application Event Listeners -->
	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>

    <!-- Application Servlet Definitions And Mappings -->
	<servlet>
		<servlet-name>JAX-WS Servlet</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>JAX-WS Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

    <!-- Application Session Configuration -->
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

    <!-- JNDI Environment Bindings -->
	<env-entry>
		<env-entry-name>wsSecurityConfigurationServiceJndiName</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>SafeOnline/WSSecurityConfigurationBean/local</env-entry-value>
	</env-entry>
		<env-entry>
		<env-entry-name>wsSecurityOptionalInboudSignature</env-entry-name>
		<env-entry-type>java.lang.Boolean</env-entry-type>
		<env-entry-value>false</env-entry-value>
	</env-entry>
	
</web-app>
