<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Olas Helpdesk Web Application</display-name>

	<listener>
		<listener-class>
			org.jboss.seam.servlet.SeamListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			com.sun.faces.config.ConfigureListener
		</listener-class>
	</listener>

	<context-param>
		<param-name>
			org.apache.myfaces.trinidad.ALTERNATE_VIEW_HANDLER
		</param-name>
		<param-value>com.sun.facelets.FaceletViewHandler</param-value>
	</context-param>

	<context-param>
		<param-name>
			org.apache.myfaces.trinidad.USE_APPLICATION_VIEW_CACHE
		</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>SafeOnlineAuthenticationServiceUrl</param-name>
		<param-value>
			https://${safe-online.host.name}:${safe-online.host.port.ssl}/olas-auth/
		</param-value>
	</context-param>

	<context-param>
		<param-name>ApplicationName</param-name>
		<param-value>olas-helpdesk</param-value>
	</context-param>

	<context-param>
		<param-name>AuthenticationProtocol</param-name>
		<param-value>SAML2_BROWSER_POST</param-value>
	</context-param>

	<context-param>
		<param-name>KeyStoreResource</param-name>
		<param-value>safe-online-helpdesk-keystore.jks</param-value>
	</context-param>

	<context-param>
		<param-name>KeyStoreType</param-name>
		<param-value>jks</param-value>
	</context-param>

	<context-param>
		<param-name>KeyStorePassword</param-name>
		<param-value>secret</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>${debug.mode}</param-value>
	</context-param>

	<context-param>
		<param-name>org.jboss.seam.core.init.debug</param-name>
		<param-value>${debug.mode}</param-value>
	</context-param>

	<context-param>
		<param-name>CommercialName</param-name>
		<param-value>OLAS</param-value>
	</context-param>

	<context-param>
		<param-name>LandingPage</param-name>
		<param-value>
			https://${safe-online.host.name}:${safe-online.host.port.ssl}/olas-helpdesk/login
		</param-value>
	</context-param>

	<filter>
		<display-name>Ajax4jsf Filter</display-name>
		<filter-name>ajax4jsf</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
	</filter>

	<filter>
		<filter-name>trinidad</filter-name>
		<filter-class>
			org.apache.myfaces.trinidad.webapp.TrinidadFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>Seam Filter</filter-name>
		<filter-class>org.jboss.seam.web.SeamFilter</filter-class>
	</filter>

	<filter>
		<filter-name>ServletLoginFilter</filter-name>
		<filter-class>
			net.link.safeonline.webapp.filter.ServletLoginFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>ExceptionFilter</filter-name>
		<filter-class>
			net.link.safeonline.webapp.filter.ExceptionFilter
		</filter-class>
		<init-param>
			<param-name>ErrorPage</param-name>
			<param-value>/error.seam</param-value>
		</init-param>
		<init-param>
			<param-name>MainPage</param-name>
			<param-value>/main.seam</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>TimeoutFilter</filter-name>
		<filter-class>
			net.link.safeonline.webapp.filter.TimeoutFilter
		</filter-class>
		<init-param>
			<param-name>TimeoutPath</param-name>
			<param-value>/timeout.seam</param-value>
		</init-param>
		<init-param>
			<param-name>LoginSessionAttribute</param-name>
			<param-value>username</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>SafeOnlineLoginFilter</filter-name>
		<filter-class>
			net.link.safeonline.sdk.auth.filter.LoginFilter
		</filter-class>
	</filter>

	<filter>
		<filter-name>JAASLoginFilter</filter-name>
		<filter-class>
			net.link.safeonline.sdk.auth.filter.JAASLoginFilter
		</filter-class>
		<init-param>
			<param-name>LoginContextName</param-name>
			<param-value>client-login</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<filter-class>
			org.apache.myfaces.webapp.filter.ExtensionsFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ExceptionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>TimeoutFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ajax4jsf</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>trinidad</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Seam Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>SafeOnlineLoginFilter</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ServletLoginFilter</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>JAASLoginFilter</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<url-pattern>*.seam</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>MyFacesExtensionsFilter</filter-name>
		<url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>resources</servlet-name>
		<servlet-class>
			org.apache.myfaces.trinidad.webapp.ResourceServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Seam Resource Servlet</servlet-name>
		<servlet-class>
			org.jboss.seam.servlet.ResourceServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>
			net.link.safeonline.sdk.auth.servlet.LoginServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.seam</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>resources</servlet-name>
		<url-pattern>/adf/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Seam Resource Servlet</servlet-name>
		<url-pattern>/seam/resource/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

</web-app>