/** -*- coding: utf-8; mode: css; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- vim:fenc=utf-8:filetype=css:et:sw=4:ts=4:sts=4
 *
 * OLAS CSS Style:
 *      Element Positioning
 *      Background Images, Borders
 *      Greyscale Coloring Only
 *
 * @author mbillemo
 *
 * Copyright 2006-2008 - Lin.k NV
 *
 */



/* ==================================================================
 * Section: Basic HTML
 */

html {
    width:              100%;
    height:             100%;
    margin:             0;
    padding:            0;
}
body {
    margin:             0;
    padding:            0;
    
    font:               14px/ 21px "Trebuchet MS", Verdana, Arial;
    text-align:         center;
}
p, h1, h2, h3, h4, h5, h6, br {
    margin:             0;
    padding:            0;

    clear:              left;
}
h1 {
    margin-bottom:      21px;

	color: #000099;

    font:               28px/ 42px "Trebuchet MS", Verdana, Arial;
}
h2 {
    margin:             14px 0;

	color: #000099;

    font:               21px/ 28px "Trebuchet MS", Verdana, Arial;
}
p {
    margin-top:         14px;
    padding-bottom:     7px;
}
a, a:visited {
	color:              #00f;

    text-decoration:    none;
}
a:hover {
    border-bottom:      1px dotted black;
}



/* ==================================================================
 * Section: Classes
 */

.nav {
	position:           relative;
	padding:            1px 20px 0 20px;
	border-top:         1px solid #c0c0c0;
	border-bottom:      1px solid #c0c0c0;
	line-height:        normal;
	height:             25px;
}

.nav ul {
	margin:             0px;
	padding:            0px;
	position:           absolute;
	margin-top:         1px;
	list-style:         none;
	text-align:         center;
}

.nav li {
	float:              left;
	margin:             0px;
	margin-right:       2px;
	padding:            0 0 0 4px;
}

.nav li a {
	display:            block;
	padding:            6px 20px 6px 16px;
	font-family:        Verdana, Arial, Helvetica, sans-serif;
	font-size:          10px;
	font-weight:        bold;
	text-decoration:    none;
	color:              #333;
}

.nav li a:hover {
	color:              #044c9c;
	background-color:   #eee;
}

.nav .current {
	border-bottom:      1px solid #fff;
	background-color:   #eee;
}

.nav .current a {
	color:              #aaaaff;
	background:         #eee;
}

.nav .current a {
	text-decoration:    none;
}

.subcolumn1-2 {
	float:              left;
	width:              50%;
}

.subcolumn2-2 {
	float:              right;
	width:              50%;
}

.error {
	color:              #FF0000;

	font-weight:        bold;
}

.error input {
	color:              #FF0000;
	border:             1px solid red;
}



/* ==================================================================
 * Section: Base Elements
 */

#document {
	margin:             30px auto;
	height:             100%;
	width:              800px;
}

#header {
	position:           relative;
	height:             60px;
	text-align:         left;
	font-size:          36px;
	font-weight:        normal;
}

#topnav {
	border-bottom:      1px solid #eaeaea;
}

#footer {
	clear:              both;
	float:              left;
	width:              800px;
	text-align:         right;
	display:            block;
	padding:            10px 5px 5px 5px;
	border-top:         1px solid #eaeaea;
	color:              #ccc;
	font-size:          x-small;
}

#container {
	width:              800px;
	padding:            15px 5px;
}

#sidebar {
	float:              right;
	margin-top:         11px;
	margin-bottom:      12px;
	text-align:         center;
	background-color:   #FFE400;
	padding-left:       10px;
	padding-right:      10px;
	padding-top:        10px;
	border:             1px solid;
}

#content {
	margin-right:       200px;
}
