<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <display-name>SDK WS Example Webapp</display-name>

    <!-- WS Example Servlet -->
    <servlet>
        <servlet-name>ExampleWSServlet</servlet-name>
        <servlet-class>net.link.safeonline.sdk.example.ws.ExampleWSServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExampleWSServlet</servlet-name>
        <url-pattern>/ws</url-pattern>
    </servlet-mapping>

    <!-- WS Example Servlet -->
    <servlet>
        <servlet-name>ExampleRestartServlet</servlet-name>
        <servlet-class>net.link.safeonline.sdk.example.ws.ExampleRestartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExampleRestartServlet</servlet-name>
        <url-pattern>/restart</url-pattern>
    </servlet-mapping>

</web-app>

